streamlit>=1.50.0
langchain>=0.3.30
langchain-core>=0.3.86
langchain-community>=0.3.31
langchain-gigachat>=0.3.12
langchain-huggingface>=0.3.1
langchain-ollama>=0.3.10
langchain-deepseek>=0.1.4
langchain-openai>=0.3.35
faiss-cpu>=1.13.0
sentence-transformers>=5.1.2
rank-bm25>=0.2.2
scikit-learn>=1.6.1
pandas>=2.3.3
numpy>=2.0.2
joblib>=1.5.3
pydub>=0.25.1
gTTS>=2.5.4
requests>=2.32.5
python-dotenv>=1.2.1
pypdf>=6.11.0
pillow>=11.3.0
pydantic>=2.13.4
nest-asyncio>=1.6.0
edge-tts